{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .login-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            height: 70vh;
        }
        
        .login-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .login-form .form-control {
            width: 300px;
            margin-bottom: 10px;
        }
        
        .login-title {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        
        .create { 
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }
        
        .signup-link {
            display: flex;
            justify-content: center;
            padding-top: 30px;
        }
        
        .map-container {
            grid-column: span 4;
        }
    </style>
{% endblock %}

{% block body %}
<h1 class="login-title">Contact</h1>
<div class="login-container">
    <div class="login-form">
        {{ form_start(form) }}
        {{ form_row(form.first_name, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.last_name, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.phone_number, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.title_name, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.note, { 'attr': {'class': 'form-control', 'rows': 5} }) }} {# Adjust the 'rows' attribute value to set the desired height #}
        <div class="create">
            <button class="btn btn-primary btn-block" type="submit">Create</button>
        </div>
        <div class="signup-link">
            <a href="{{ path('app_home') }}">Back to Home</a>
        </div>
        {{ form_end(form) }}
    </div>
    <div>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.945408700685!2d106.7070632!3d10.8154898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752896b7078a05%3A0xfe9d7fe53a97952e!2zVGhlIEh5Y280IFRvd2VyLCAyMDUgTmd1eeG7hW4gWMOtLCBQaMaw4budbmcgMjYsIELDrG5oIFRo4bqhbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1sen!2s!4v1689512573031!5m2!1sen!2s" width="700" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
{% endblock %}
